body {
  background-color: black;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}

h2{
  font-family: 'Roboto', sans-serif;
  color: #111;
  line-height: 24px;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #111111;
}

nav .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 60px;
}

nav ul {

}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #31a6ff;
}

.signup-form-form {
  display: flex;
  justify-content: center;
}

.signup-form p {
  text-align: center;
  padding-bottom: 40px;
  color: #007ecc;
}

.signup-form form {
  width: 30%;
}

.signup-form form input {
  width: calc(100% - 16px);
  padding: 6px;
  margin-bottom: 4px;
}

.signup-form form button {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}
